{% extends "layout.html.twig" %}

{% block title %}Credentials{% endblock %}

{% block content %}
    <div class="container col-lg-offset-1 col-lg-10">
        <br>
        <a href="{{ app.url_generator.generate('addCred') }}">
            <button class="btn btn-primary pull-right">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New credential
            </button>
        </a>
        <br><br><br>
        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="alert alert-success">
                {{ flashMessage }}
            </div>
        {% endfor %}
        <section>
            <table class="table table-bordered table-striped table-condensed">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Token</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for credential in credentials %}
                    <tr>
                        <td>{{ credential.nameCred }}</td>
                        <td>{{ credential.token }}</td>
                        <td>
                            <a class="btn btn-success" href="{{ app.url_generator.generate('listCred') }}/{{ credential.idCred }}/edit">
                                <span class="glyphicon glyphicon-pencil"></span> Edit
                            </a>
                            <a class="btn btn-danger " href="{{ app.url_generator.generate('listCred') }}/{{ credential.idCred }}/delete">
                                <span class="glyphicon glyphicon-trash"></span> Delete
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </section>
    </div>
{% endblock %}


