{% extends "layout.html.twig" %}

{% block title %}Projects{% endblock %}

{% block content %}
    <div class="container col-lg-12">
        <br>
        <a href="{{ app.url_generator.generate('addProject') }}">
            <button class="btn btn-primary pull-right">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New project
            </button>
        </a>
        <br><br><br>
        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="alert alert-success">
                {{ flashMessage }}
            </div>
        {% endfor %}
        <section>
            <table class="table table-bordered table-striped table-condensed ">
                <thead>
                <tr>
                    <th><span class="fa fa-heartbeat"> Alive ?</span></th>
                    <th><span class="fa fa-github"> Project Name</span></th>
                    <th><span class="fa fa-code-fork"> Branch</span></th>
                    <th><span class="fa fa-user"> Credential</span></th>
                    <th><span class="fa fa-bar-chart"> Number of checklists posts</span></th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for project in projects %}
                    <tr>
                        {% if project.alive == 1 %}
                            <td><input type="checkbox" disabled checked></td>
                        {% else %}
                            <td><input type="checkbox" disabled></td>
                        {% endif %}
                        <td>{{ project.name }}</td>
                        <td>{{ project.branch }}</td>
                        <td>{{ project.credential }}</td>
                        <td>{{ project.numberTaskList }}</td>
                        <td>
                            <a class="btn btn-success" href="{{ app.url_generator.generate('listProject') }}/{{ project.id }}/edit">
                                <span class="glyphicon glyphicon-pencil"></span> Edit
                            </a>
                            <a class="btn btn-danger" href="{{ app.url_generator.generate('listProject') }}/{{ project.id }}/delete">
                                <span class="glyphicon glyphicon-trash"></span> Delete
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </section>
    </div>
{% endblock %}