<!DOCTYPE html>
<html lang="fr">
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    {% block stylesheets %}
        <link href="{{ app.request.basepath }}/css/bootstrap.min.css" rel="stylesheet">
        <link href="{{ app.request.basepath }}/css/bootstrap-theme.min.css" rel="stylesheet">
        <link href="{{ app.request.basepath }}/css/pr-reviewer.css" rel="stylesheet">
        <link href="{{ app.request.basepath }}/css/font-awesome.min.css" rel="stylesheet">
    {% endblock %}
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" style="height: 1px;">
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav">
                <li><a href="{{ app.url_generator.generate('listProject') }}">Projects</a></li>
                <li><a href="{{ app.url_generator.generate('listCred') }}">Credentials</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if app.security.token and is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li class="dropdown">
                        <li><p class="navbar-text">
                            <span class="glyphicon glyphicon-user"></span> {{ app.security.token.user.username }}
                       </p></li>
                       <li><a href="{{ path('admin_logout') }}">
                            <span class="glyphicon glyphicon-log-out"></span> Log out
                       </a></li>
                    </li>
                {% else %}
                    <li><p class="navbar-text">
                            <span class="glyphicon glyphicon-user"></span> Not connected
                        </p>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<div class="container">{% block content %}{% endblock %}</div>
{% block javascripts %}{% endblock %}
</body>
</html>

